
<web-app>
<servlet>
<servlet-name>LoginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginServlet</servlet-name>
<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ArticleServlet</servlet-name>
<servlet-class>ArticleServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ArticleServlet</servlet-name>
<url-pattern>/ArticleServlet</url-pattern>
</servlet-mapping>
</web-app>
